<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>%%LNG_ControlPanel%%</title>
		<link rel="shortcut icon" href="%%GLOBAL_ApplicationFavicon%%" type="image/vnd.microsoft.icon">
		<link rel="icon" href="%%GLOBAL_ApplicationFavicon%%" type="image/vnd.microsoft.icon">
		<meta http-equiv="Content-Type" content="text/html; charset=%%GLOBAL_CHARSET%%">
		<link rel="stylesheet" href="includes/styles/stylesheet.css" type="text/css">
		<script>
			var UnsubLinkPlaceholder = "%%LNG_UnsubLinkPlaceholder%%";
			var ModifyLinkPlaceholder = "%%LNG_ModifyLinkPlaceholder%%";
			var SendToFriendLinkPlaceholder = "%%LNG_SendToFriendLinkPlaceholder%%";
			var UsingWYSIWYG = '%%GLOBAL_UsingWYSIWYG%%';
		</script>

		<script src="includes/js/jquery.js"></script>
		<script src="includes/js/jquery/jquery.json-1.3.min.js"></script>
		<script src="includes/js/javascript.js"></script>
		{*<script src="includes/js/tinymce/tinymce.min.js"></script>*}
		<script src="includes/js/tiny_mce/tiny_mce.js"></script>
		<script defer>
			// Hack for IE
			if(navigator.userAgent.indexOf('MSIE') > -1) {
				document.getElementById('popContainer').style.width = '100%';
			}
		</script>
</head>

<body class="popupBody">
	<div class="popupContainer" id="popContainer">
<!-- END PAGE HEADER -->
